* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-container {
  display: flex;
  background-color: grey;
  padding: 20px;
  justify-content: space-around;
  align-items: center;
}

.menus {
  display: flex;
  gap: 10px;
  font-size: 17px;
  font-style: italic;
}

.banner-container {
  height: 100vh;
  background-image: url("asset/image/background.jpg"),
    linear-gradient(rgb(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4));
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary {
  color: red;
}

.title {
  font-size: 55px;
  font-weight: bold;
  color: white;
}

.description {
  color: white;
  width: 50%;
  margin: auto;
  padding: 10px;
}

.btn {
  padding: 12px 20px;
  border: none;
  margin: 2px;
}

.bg-primary {
  background-color: red;
  color: white;
}
